<h1><%=@team.name %></h1><br>

<section>
  <%= image_tag(@team.cover_url) %>
</section>

<section>
  <h2>Heroes</h2>
  <ul>
    <% @heroes.each do |hero| %>
      <li><%= hero.name %></li>
    <% end %>
  </ul>
</section>

<section>
  <h2>Heroes</h2>
  <ul>
    <% @villains.each do |hero| %>
      <li><%= hero.name %></li>
    <% end %>
  </ul>
</section>


(column) Team members
(column) Cover image

Pitch
(Embedded spotify player with soundtrack if supplied.)

Total votes

Votes as proportion of match (graphic)

If match closed, graphic if this team was the winner.