This page needs to contain:

A list of all participating teams.
  * Display teams with vote buttons if in voting phase.

<h1><%= @match.name %></h1>
<p><strong>Stakes:</strong> <%= @match.stakes %></p>

<% if @match.teams.count <= 3 %>
  <%= link_to "Add a team to this match!", new_match_team_path(@match.id) %>
<%end%>

<% @teams.each do |team| %>
  <%= render partial: "/teams/team_block_view", locals: {team: team, match_votes: team.match.votes} %>
<%end%>



  

