This page needs to contain:

A list of all participating teams.
  * Display teams with vote buttons if in voting phase.

A partial to create a team if there are still spaces in the match 

Should this have two partials, one for players and one for viewers?

<h1><%= @match.name %></h1>
<p><strong>Stakes:</strong> <%= @match.stakes %></p>

<% if @match.phase = 1 %>
  <%# this needs to have a create team with this match button. %>
<%end%>

<% @teams.each do |team| %>
  <%= render partial: "/teams/team_block_view", locals: {team: team, match_votes: team.match.votes} %>
<%end%>


  

