This page needs to contain:

A list of all participating teams.
  * Display teams with vote buttons if in voting phase.

A partial to create a team if there are still spaces in the match 

Should this have two partials, one for players and one for viewers?

<% @teams.each do |team| %>
  <%= render partial: "/teams/team_block_view", locals: {team: team, match_votes: team.match.votes} %>
<%end%>


# YOU CAN GET CHANGED NOW BECAUSE EACH TEAM DISPLAYS ITS VOTES AND TOTAL VOTES.
<% @votes.each do |key, value| %>
  <p><%= Team.find(key).name %> votes: <%= value %></p>
<%end%>

<p><em>Total votes: <%= @votes.values.sum %>